[flake8]
ignore =
    # At least two spaces before inline comment
    E261,
    # Line lengths are recommended to be no greater than 79 characters
    E501,
    # Missing whitespace around arithmetic operator 
    E226,
    # Blank line contains whitespace
    W293,
    # Do not use bare 'except'
    E722,
    # Line break after binary operator
    W504,
    # Too many leading '#' for block comment
    E266,
    # line break before binary operator
    W503,
    # continuation line over-indented for hanging indent
    E126
max-line-length = 79
exclude = __init__.py, build